.group
  =f.label :game_id
  =f.error_message_on :game_id
  =f.text_field :game_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :betting_round
  =f.error_message_on :betting_round
  =f.text_field :betting_round, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :turn_number
  =f.error_message_on :turn_number
  =f.text_field :turn_number, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :action
  =f.error_message_on :action
  =f.text_field :action, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :amount
  =f.error_message_on :amount
  =f.text_field :amount, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :player_id
  =f.error_message_on :player_id
  =f.text_field :player_id, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:actions, :index)}';return false", :class => :button
