.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:actions, :index)
      %li=link_to pat(:new), url(:actions, :new)
      %li.active=link_to pat(:edit), url(:actions, :edit, :id => @action.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:action)
    .inner
      -form_for :action, url(:actions, :update, :id => @action.id), :method => :put, :class => :form do |f|
        =partial "actions/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
