.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:hands, :index)
      %li.active=link_to pat(:new), url(:hands, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:hand)
    .inner
      -form_for :hand, url(:hands, :create), :class => :form do |f|
        =partial "hands/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
