.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:games, :index)
      %li=link_to pat(:new), url(:games, :new)
      %li.active=link_to pat(:edit), url(:games, :edit, :id => @game.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:game)
    .inner
      -form_for :game, url(:games, :update, :id => @game.id), :method => :put, :class => :form do |f|
        =partial "games/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
