.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:players, :index)
      %li.active=link_to pat(:new), url(:players, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:player)
    .inner
      -form_for :player, url(:players, :create), :class => :form do |f|
        =partial "players/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
