.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:tables, :index)
      %li.active=link_to pat(:new), url(:tables, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:table)
    .inner
      -form_for :table, url(:tables, :create), :class => :form do |f|
        =partial "tables/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
