.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:tournaments, :index)
      %li=link_to pat(:new), url(:tournaments, :new)
      %li=link_to pat(:edit), url(:tournaments, :edit, :id => @tournament.id)
      %li.active=link_to pat(:show), url(:tournaments, :show, :id => @tournament.id)
  .content
    %h2.title
      Manage
      =mt(:tournament)
    .inner
      %h3.title Actions
      %div
        =button_to "Seat Available Players", url(:tournaments, :seat, :id => @tournament.id), :method => :post, :class => :button_to

-content_for :sidebar, partial("base/sidebar")
