.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:tournaments, :index)
      %li=link_to pat(:new), url(:tournaments, :new)
      %li=link_to pat(:edit), url(:tournaments, :edit, :id => @tournament.id)
      %li.active=link_to pat(:show), url(:tournaments, :show, :id => @tournament.id)
  .content
    %h2.title
      Manage
      =mt(:tournament)
    .inner
      %h3.title Actions
      %div
        =button_to "Seat Available Players", url(:tournaments, :seat, :id => @tournament.id), :method => :post, :class => :button_to
      %div
        =button_to "Close Registration", url(:tournaments, :close, :id => @tournament.id), :method => :post, :class => :button_to
    .inner
      %h3.title Create Table
      %div
        =button_to "Create a new table", url(:game_tables, :create, :tournament_id => @tournament.id), :method => :post, :class => :button_to
    .inner
      %h3.title Table for this Tournament
      - @tournament.game_tables.each do |game_table|
        %div #{game_table.id}
    .inner
      %h3.title Players
      - @tournament.players.each do |player|
        %div #{player.name}

-content_for :sidebar, partial("base/sidebar")
